/* veriabels */
/* FONTS */
/* COLOR */
/* TRANSITION */
/* mixins */
/* media */
/* max-width */
/* min-width */
/* FONTS */
/* SVG Socails Animation */
/* BASE */
/* FONTS */
/* COLOR */
/* TRANSITION */
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

body {
  background: grey;
  font-family: "Open Sans";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
}

input[type="submit"] {
  cursor: pointer;
  -webkit-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
}

input[type="submit"]:hover {
  opacity: .8;
}

.container-fluid {
  max-width: 1200px;
}

.main {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container-fluid {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 27px;
  height: 100%;
}

.header__menu-item {
  margin-left: 31px;
}

.header__menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__menu-link:hover {
  color: #60C967;
}

.header__menu-link:hover + .menu-popup {
  opacity: 1;
}

.header__nav {
  margin-left: 9px;
  position: relative;
  height: 100%;
}

.header__right {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  background-color: #354669;
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__languages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.header__languages-item {
  text-align: center;
  width: 50%;
}

.header__languages-item:first-child {
  border-right: 1px solid rgba(0, 27, 79, 0.5);
}

.header__languages-link {
  color: #001B4F;
  opacity: 0.5;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
}

.header__languages-link.active, .header__languages-link:hover {
  opacity: 1;
}

.menu-popup {
  opacity: 1;
  position: absolute;
  background-color: #4A5978;
  width: 100%;
  left: 0;
  height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-popup__name {
  width: 110px;
  min-width: 110px;
  height: 100%;
  text-align: right;
  padding: 28px 14px 0 0;
  background-color: #354669;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.menu-popup__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 0 0 18px;
}

.menu-popup__item {
  width: 33.333333%;
  margin-bottom: 20px;
}

.menu-popup__link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.menu-popup__link:hover {
  color: #60C967;
}
