@import 'veriabel';



@include fontface($OpenSans, OpenSans-Light, 300, normal);
@include fontface($OpenSans, OpenSans-Regular, 400, normal);
@include fontface($OpenSans, OpenSans-Bold, 700, normal);
@include fontface($OpenSans, OpenSans-SemiBold, 600, normal);
@include fontface($OpenSans, OpenSans-ExtraBold, 800, normal);


body {
  background: grey;
  font-family: $OpenSans;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  transition: $delay;
}

input[type="submit"] {
  cursor: pointer;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

.container-fluid {
  max-width: 1200px;
}

.main {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
