
/* FONTS */

$OpenSans: 'Open Sans';

/* COLOR */

$white: #fff;
$black: #000;
$green: #60C967;
$extra-dark-blue: #001B4F;
$dark-blue: #354669;
$light-blue: #4A5978;



/* TRANSITION */
$delay: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
$ease: 0.3s ease;
