.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .container-fluid {
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {}

  &__menu {
    display: flex;
    padding-right: 27px;
    height: 100%;

    &-item {
      margin-left: 31px;
    }

    &-link {
      color: $white;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      height: 100%;

      &:hover {
        color: $green;

        & + .menu-popup {
          opacity: 1;
        }
      }
    }
  }

  &__nav {
    margin-left: 9px;
    position: relative;
    height: 100%;

  }

  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__search {
    background-color: $dark-blue;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__languages {
    display: flex;
    align-items: center;
    width: 260px;

    &-item {
      text-align: center;
      width: 50%;

      &:first-child {
        border-right: 1px solid rgba(0, 27, 79, .5);
      }
    }

    &-link {
      color: $extra-dark-blue;
      opacity: 0.5;
      font-size: 11px;
      font-weight: 800;
      text-transform: uppercase;

      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
}

.menu-popup {
  opacity: 1;
  position: absolute;
  background-color: $light-blue;
  width: 100%;
  left: 0;
  height: 160px;
  display: flex;
  align-items: flex-start;


  &__name {
    width: 110px;
    min-width: 110px;
    height: 100%;
    text-align: right;
    padding: 28px 14px 0 0;
    background-color: $dark-blue;
    color: $white;
    font-size: 14px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 25px 0 0 18px;
  }

  &__item {
    width: 33.333333%;
    margin-bottom: 20px;
  }

  &__link {
    color: $white;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: $green;
    }
  }
}



.fixed {
  &__list {
    &-item {}
  }
}
